<div class="form">
  <div class="wrapper-site">
    <div class="head">
      <div class="bloque">
        <h2>Contáctanos</h2>
        <p>Aequitas Abogados</p>
      </div>
    </div>
    <div class="box-form">
      <form [formGroup]="dataForm" #formDirective="ngForm">

        <ul>
          <li>
            <p>Ingresa tu Nombre</p>
            <input type="text" pInputText formControlName="name"  placeholder="Ej: Camila Muñoz"/>
          </li>
          <li>
            <p>Ingresa tu Rut</p>
            <input type="text" pInputText formControlName="rut" placeholder="Ej: 16.874.999-0"/>
          </li>
          <li>
            <p>Ingresa tu Email</p>
            <input type="text" pInputText placeholder="Ej: ayuda@aequitas.cl" formControlName="email"/>
          </li>
          <li>
            <p>Ingresa tu Teléfono</p>
            <input type="text" pInputText formControlName="phone" placeholder="Ej: 9 65 81 398"/>
          </li>
          <li>
            <p>Materia Legal</p>
            <p-dropdown optionLabel="name" placeholder="Selecciona una opción" [options]="legalMatters" formControlName="legalMatter"></p-dropdown>
          </li>
          <li>
            <p>Toma de Hora</p>
            <p-calendar formControlName="scheduletime" placeholder="Selecciona una fecha"></p-calendar>
          </li>
          <li>
            <p>Cuéntanos</p>
            <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" formControlName="comment" placeholder="Describe brevemente tu caso ..."></textarea>
          </li>
        </ul>


      </form>
    </div>
    <div class="boton" (click)="contacto()">
      <p>
        Agendar Hora
      </p>
    </div>

  </div>
</div>

