<div class="header">
  <div class="wrapper-header">
    <div class="logo">
      <img src="./assets/img/aequitas-logo.svg" />
    </div>
    <div class="nav">
      <ul>
        <li class="active">
          <a (click)="toPageSelect('home')">
            <p>
              Home
            </p>
          </a>
        </li>
        <li>
          <a (click)="toPageSelect('somos')">
            <p>
              Somos
            </p>
          </a>
        </li>
        <li>
          <a (click)="toPageSelect('nuestros-servicios')">
            <p>
              Nuestros Servicios
            </p>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <p>
              Agendar Hora
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="corporacion">
      <ul>
        <li class="icono">
          <img src="./assets/img/heart.svg" />
        </li>
        <li>
          <a href="https://manosdeamor.cl/#quienes-somos" target="_blank">
            <p>
              Corporación
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>


</div>
