@import '../../../assets/scss/mq';
.box-tarifas{
  padding:100px 0 100px 0;
  background:#333333;
  .wrapper-site{
    @include respond-to($iphone_xs) {
      max-width:90%;
    }
    .bloque{
      h2{
        font-family: 'Roboto', sans-serif;
        font-size: 72px;
        font-weight: 900;
        font-stretch: normal;
        font-style: italic;
        line-height: 0.9;
        letter-spacing: 5.4px;
        text-align: center;
        color: #ffffff;
        span{
          color: #d40202;
        }
      }
      p{
        font-family: 'Roboto', sans-serif;
        font-size: 17.5px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.31px;
        text-align: center;
        color: #ffffff;
      }
      ul{
        margin:120px 0 0 0;
        padding:0;
        display: grid;
        grid-template-columns: 400px 400px 400px;
        li{
          display:block;
        }
      }
    }
  }

}
.box-tarifas-pasos{
  padding:120px 0 0 0;
  .wrapper-site{
    @include respond-to($iphone_xs) {
      max-width:90%;
      margin:0 auto 0 auto;
    }
    ul{
      margin:0;
      padding:0;
      display: grid;
      grid-template-columns: 33.3% 33.3% 33.3%;
      @include respond-to($iphone_xs) {
        grid-template-columns: 100%;
      }
      li{
        list-style: none;
        img{
          width:100%;
        }
      }
      li:nth-child(2) {
        position: relative;
        top:-50px;
        margin:0 -25px;
      }
    }
  }
}
