<div class="site">

  <app-big-banner></app-big-banner>
  <!-- <app-bar-services></app-bar-services> -->
  <app-leyenda-servicios></app-leyenda-servicios>
  <div class="box-page">
    <div class="wrapper-site grid-2">
      <div class="left">
        <div class="bloque">
          <h2 *ngIf="infoPage != undefined">{{infoPage[0]?.Title}} <span>{{infoPage[0]?.TitleOutstanding}}</span></h2>
          <div *ngIf="infoPage != undefined" [innerHTML]="infoPage[0]?.Content"></div>
        </div>
      </div>
      <div class="right">
        <div class="box-agendar-hora">
          <div class="bloque">
            <div class="logo-brand">
              <img src="./assets/img/aequitas-logo.svg" />
            </div>
            <h2>CONTACTANOS</h2>
            <div class="boton">
              <p>
                Agendar Hora
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>







  <app-servicios></app-servicios>
  <app-agendar-hora></app-agendar-hora>
</div>


