<div class="box-servicios">
  <div class="wrapper-site">
    <div class="bloque">
      <ul>
        <li>
          <div class="card">
            <div class="head">
              <h3>
                FAMILIA
              </h3>
              <img src="./assets/img/ico-family.png" />
            </div>
            <div class="body">
              <h3>
                JUICIOS DE DIVORCIOS.
              </h3>
              <p>
                - Divorcio Culposo
              </p>
              <p>
                - Divorcio Unilateral
              </p>
              <p>
                - Divorcio de Mutuo Acuerdo
              </p>
              <p>
                - Cese de convivencia, Notificación
              </p>
              <p>
                - Compensación Económica
              </p>
            </div>
            <div class="foo">
              <div class="boton">
                <p>
                  Ver Más +
                </p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <div class="head">
              <h3>
                FAMILIA
              </h3>
              <img src="./assets/img/ico-family.png" />
            </div>
            <div class="body">
              <h3>
                JUICIOS DE DIVORCIOS.
              </h3>
              <p>
                - Divorcio Culposo
              </p>
              <p>
                - Divorcio Unilateral
              </p>
              <p>
                - Divorcio de Mutuo Acuerdo
              </p>
              <p>
                - Cese de convivencia, Notificación
              </p>
              <p>
                - Compensación Económica
              </p>
            </div>
            <div class="foo">
              <div class="boton">
                <p>
                  Ver Más +
                </p>
              </div>
            </div>
          </div>


        </li>
        <li>
          <div class="card">
            <div class="head">
              <h3>
                FAMILIA
              </h3>
              <img src="./assets/img/ico-family.png" />
            </div>
            <div class="body">
              <h3>
                JUICIOS DE DIVORCIOS.
              </h3>
              <p>
                - Divorcio Culposo
              </p>
              <p>
                - Divorcio Unilateral
              </p>
              <p>
                - Divorcio de Mutuo Acuerdo
              </p>
              <p>
                - Cese de convivencia, Notificación
              </p>
              <p>
                - Compensación Económica
              </p>
            </div>
            <div class="foo">
              <div class="boton">
                <p>
                  Ver Más +
                </p>
              </div>
            </div>
          </div>


        </li>
      </ul>
    </div>
  </div>
</div>
