<div class="box-servicios">
  <div class="wrapper-site">
    <div class="bloque">
      <ul>
        <li>
          <div class="card">
            <div class="head">
              <h3>
                FAMILIA
              </h3>
              <img src="./assets/img/ico-family.png" />
            </div>
            <div class="body">
              <p>
                - Divorcio Culposo
              </p>
              <p>
                - Divorcio Unilateral
              </p>
              <p>
                - Divorcio de Mutuo Acuerdo
              </p>
              <p>
                - Cese de convivencia, Notificación
              </p>
              <p>
                - Compensación Económica
              </p>
            </div>
            <div class="foo">
              <div class="boton" [routerLink]="['/servicio/familiar']">
                <p>
                  Ver Más +
                </p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <div class="head">
              <h3>
                CIVIL
              </h3>
              <img src="./assets/img/ico-family.png" />
            </div>
            <div class="body">
              <p>- Juicio de Arrendamiento.</p>
              <p>- Juicio de Precario.</p>
              <p>- Rectificación de partida de nacimiento, interdicciones, cambios de nombre.</p>
              <p>- Interdicción por Demencia.</p>
              <p>- Tercerías de posesión.</p>
            </div>
            <div class="foo">
              <div class="boton" [routerLink]="['/servicio/civil']">
                <p>
                  Ver Más +
                </p>
              </div>
            </div>
          </div>


        </li>
        <li>
          <div class="card">
            <div class="head">
              <h3>
                LABORAL
              </h3>
              <img src="./assets/img/ico-family.png" />
            </div>
            <div class="body">
              <p>- Representación en Inspección del Trabajo.</p>
              <p>- Demandas por despido injustificado, indebido e improcedente.</p>
              <p>- Demanda de cobro prestaciones laborales.</p>
              <p>- Demandas  de nulidad de despido.</p>
              <p>- Demandas por desvinculación ilegal de trabajadores con fuero sindical y/o maternal.</p>
              <p>- Tutela Laboral</p>
            </div>
            <div class="foo">
              <div class="boton" [routerLink]="['/servicio/laboral']">
                <p>
                  Ver Más +
                </p>
              </div>
            </div>
          </div>


        </li>
      </ul>
    </div>
  </div>
</div>
